    <%- include('../partials/header.ejs', {title: 'Home'})%>

    
  <body>
        <%- include('../partials/nav.ejs', {data: user}) %>
        <div class="jumbotron" style="background-image: url('library.jpg'); opacity: 0.9; background-size: cover">
            <h1 class="display-4 text-white">Quality Control Circle</h1>
            <p class="lead text-white">This web applications for monitoring your activity.</p>
            <hr class="my-4 text-white">
            <p class="text-white">Quality Control Circle is activity how to solve the problem together with team.</p>
            <a class="btn btn-primary btn-lg" href="http://management-improvement.blogspot.com/2011/11/qcc-quality-control-circle.html" role="button" target="_blank">How About QCC?</a>
        </div>
        <h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ullam totam iusto voluptatem rerum, adipisci iure sed, similique magni corrupti minima! Aliquid iure commodi illum maiores eligendi perferendis accusamus debitis!
        </h1>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>